.cart {
    display: flex;
    width: 388px;
    height: auto;
    flex-direction: column;
}

.cart_header{
    display: flex;
    align-items: center;
    background-color: black;
    width: 388px;
    height: 50px;
    justify-content: space-between;
}

.filter_img_close {
    display: flex;
    margin-right: 20px;
    cursor: pointer;
}

.cart_header p{
    color: white;
    margin-left: 20px;
}

.cart_road {
    display: flex;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

.cart_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.cart_item {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.cart_item ul {
    list-style-type: none;
}

.cart_item li {
    display: flex;
    flex-direction:column;
    width: 348px;
}

.cart_item_price {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.cart_total_price {
    margin-bottom: 10px;
}

.cart_button button {
    width: 348px;
    height: 40px;
    border: none;
    cursor: pointer;
    padding: 0;
}

.empty_cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty_cart p {
    margin: 20px;
    width: 70px;
}

.back_to_shopping {
    width: 348px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: black;
    margin-bottom: 20px;
    padding: 0;
    color: white;
}


