.item_hed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin: 96px 70px 48px 70px;
}

.item_info {
    display: flex;
}

.item_info h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
}

.sort {
    display: flex;
    gap: 32px;
}

.sort h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    text-align: right;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    opacity: 0.6;
}

.sort h3:hover {
    font-weight: 100;
    opacity: 1;
}

.active-filter {
    font-weight: bold !important;
    opacity: 1 !important;
}

.items {
    display: flex;
    margin-bottom: 30px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.clothes {
    margin-bottom: 30px;
    display: flex;
    height: 378px;
    width: 255px;
    flex-direction: column;
}

.clothes p {
    display: flex;
    margin-top: 16px;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
    opacity: 0.6;
}

.clothes_info {
    position: absolute;
    background-color: #FFFFFF;
    margin-top: 320px;
    height: 60px;
    width: 255px;
    transition: 0.8s all;
}

.clothes_info_img,
.clothes_info_size,
.clothes_info_event {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

.size-box p {
    display: flex;
    align-items: center;
}


.clothes_event {
    width: 255px;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s all;
}

.clothes_info:hover {
    margin-top: 180px;
    height: 212px;
    transition: 0.4s all;
}

.clothes_info:hover > .clothes_event{
    visibility: visible;
    opacity: 1;
    transition: 2.8s all;
}
.cost-rate {
    display: flex;
    height: 16px;
    justify-content: space-between;
    align-items: center;
}

.cost-rate p {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
}

.stars {
    display: flex;
    height: 14px;
    width:70px;
    background-repeat: no-repeat;
    background-image: url("../../pages/Women/img/stars.svg");
}

.women_button {
    width: 1110px;
    height: 48px;
    background: #f8f8f8;
    border: 2px solid #f8f8f8;
    box-sizing: border-box;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    opacity: 0.8;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    cursor: pointer;
}

.old_price{
    text-decoration: line-through;
    opacity: 0.4 !important;
    margin-right: 8px;
}

.new_price{
    font-weight: bold;
    color: black;
}

.price_item {
    display: flex;
    gap: 10px;
}

@media (max-width: 992px) {
    .women_button {
        width: 962px;
    }
}

@media (max-width:360px) {

    .line {
        margin: 0 auto;
        width: 360px !important;
    }
    .item_hed {
        display: flex;
        margin: 20px auto;
        width: 330px;
    }

    .sort {
        display: flex;
        flex-direction: column;
    }

    .items{
        margin: 0 auto;
        width: 360px;
    }

    .clothes{
        margin-right: 0;
    }

    .clothes_info:hover {
        margin-top: 320px;
        height: 60px;
    }

    .clothes_event{
        display: none;
    }

    .women_button {
        width: 360px;
    }
}