h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

/*------WOMEN'S-------*/
.men_id img {
  display: flex;
  width: 255px;
  height: 318px;
}
@media (max-width: 992px) {
  .main{
    margin: 0 auto;
    width: 992px;
  }
}

@media (max-width: 360px) {
  .main {
    margin: 0 auto;
    width: 360px;
  }
}
/*------FOOTER-------*/

