.hero {
    display: flex;
    justify-content: space-between;
    margin: 32px 70px 0 70px;
    padding: 0 15px;
}

.banner {
    display: flex;
    position: relative;
    height: 490px;
}

.banner_content {
    display: flex;
    position: absolute;
    width: 289px;
    height: 100px;
    left: calc(50% - 289px / 2);
    top: calc(50% - 100px / 2);
    background: #ffffff;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
}

.chevron-right {
    display: flex;
    position: absolute;
    top: calc(50% - 50px / 2);
    left: calc(94% - 50px / 2);
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    background-image: url("img/chevron-right.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.chevron-left {
    display: flex;
    position: absolute;
    top: calc(50% - 50px / 2);
    right: calc(94% - 50px / 2);
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    background-image: url("img/chevron-left.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.banner_content p {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    align-items: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    opacity: 0.4;
}

.banner_content span {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    align-items: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
}

.red {
}

.green {
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.women {
    position: relative;
}

.green_button {
    position: absolute;
    height: 48px;
    width: 118px;
    left: calc(50% - 118px / 2);
    top: calc(50% - 48px / 2);
    border: none;
    background: #ffffff;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    transition: 0.5s all;
}

.green_button:hover {
    left: 0;
    right: 0;
    top: 38%;
    bottom: 38%;
    width: 100%;
    border-radius: 0;
}

.men {
    position: relative;
}

.accessories {
    position: relative;
    margin-top: 30px;
    height: 260px;
}

.accessories_button {
    position: absolute;
    height: 48px;
    width: 166px;
    top: 38%;
    left: calc(50% - 166px / 2);
    border: none;
    background: #ffffff;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    transition: 0.5s all;
}

.accessories_button:hover {
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0;
}

@media (max-width: 360px) {
       .hero {
        margin: 0 auto ;
        display: flex;
        width: 330px;
        flex-direction: column;
    }

    .banner img {
        width: 330px;
        height: 320px;
    }
    .banner {
        display: flex;
        width: 330px;
        height: auto;
        margin-top: 15px;
    }

    .banner_content {
        width: 220px;
        height: 65px;
        top: calc(50% - 70px / 2);
        left: calc(50% - 220px / 2);
    }

    .red > .green {
        display: flex;
        height: auto;
        gap: 15px;
        justify-content: center;
        flex-direction: column;
        margin-top: 15px;
    }

    .accessories {
        display: flex;
        width: 330px;
        height: auto;
        margin-top: 15px;
    }

    .accessories img{
        width: 330px;
        height: 200px;
    }

}