.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.modal_content {
    background: white;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    border: 1px solid black;
}

.modal_content h2 {
    margin-bottom: 20px;
}

.modal_content input{
    display: flex;
    width: 285px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 20px;
}

.modal_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.modal_text textarea {
    width: 295px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.modal_text button {
    width: 100px;
    height: 50px;
    margin-top: 15px;
    background-color: black;
    color: white;
}

.error {
    color: red;
    font-size: 14px;
}

.submit_button:disabled {
    background: gray;
    cursor: pointer;
}

.close_button {
    margin-top: 20px;
    background: red;
    color: white;
}

.star {
    font-size: 18px;
    cursor: pointer;
    color: gray;
    opacity: 0.1;
}

.star_selected {
    color: gold;
    cursor: pointer;
    font-size: 18px;
    opacity: 1;
}