.women_header {
    display: flex;
    width: 1250px;
    height: 32px;
    background-color: #F8F8F8;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.road {
    display: flex;

}

.road p {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
    opacity: 0.6;
}

.ul {
    background-image: url('../../components/nav.svg');
    width: 9px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 6px;
}

.road span {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
}

.share {
    display: flex;
    gap: 8px;
    width: 53px;
    height: 18px;
    align-items: center;
}

.share_img {
    width: 15px;
    height: 15px;
    background: #F8F8F8 url('../../components/share.svg') no-repeat center;
}

.share p {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
    opacity: 0.6;
}

.title {
    display: flex;
    width: 1280px;
    height:70px;
    background-color: #F8F8F8;
    align-items: center;
}

.title h1 {
    margin: 0;
    padding: 0;
    width: 1280px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
}

.edit {
    display: flex;
    width: 1250px;
    justify-content: space-between;
    padding: 32px 15px;
}

.filter {
    display: flex;
    width: 95px;
    height: 32px;
    align-items: center;
    margin-left: 70px;
    justify-content: space-between;
}

.filter_img {
    background-image: url('../../components/filtr.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
}

.filter p {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    opacity: 0.6;
}

.veia {
    display: flex;
    width: 72px;
    height: 24px;
    align-items: center;
    justify-content: space-between;
}

.tabl {
    background-image: url('../../components/veiu_tabl.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

.tabl:hover,
.tabl:active{
    background-image: url('../../components/veiu_tabl_active.svg');
}

.plit {
    background-image: url('../../components/veiu_plit.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px; 
}

.plit:hover,
.plit:active{
    background-image: url('../../components/veiu_plit_active.svg');
}

.categor {
    display: flex;
    width: 120px;
    height: 15px;
    align-items: center;
    margin-right: 70px;
    justify-content: space-between;
}

.categor p{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    opacity: 0.6;
}

.vector {
    background-image: url('../../components/Vector.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 14px;
    height: 14px;
}

.loading {
    display: flex;
    width: 64px;
    height: 64px;
    background-image: url('../../components/loading_more.svg');
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    background-repeat: no-repeat;
}

@media (max-width: 992px) {
    .women_header {
        width: 962px;
    }

    .edit {
        width: 962px;
    }
}

@media (min-width:381px) and (max-width: 576px) {
    .women_header {
        max-width: 100%;
    }

    .road,
    .share,
    .filter,
    .veia,
    .categor {
        margin: 0 !important;
    }

    .edit {
        width: auto;
        align-items: center;
    }
}

@media (max-width: 380px) {
    .women_header {
        width: 330px;
    }

    .road,
    .share,
    .filter,
    .veia,
    .categor {
        margin: 0 !important;
    }

    .edit {
        width: auto;
        align-items: center;
    }
}