
.men_header {
    display: flex;
    width: 1250px;
    height: 32px;
    background-color: #F8F8F8;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.road {
    display: flex;

}

.road p {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
    opacity: 0.6;
}

.ul {
    background-image: url('../../components/nav.svg');
    width: 9px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 6px;
}

.road span {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
}

.share {
    display: flex;
    gap: 8px;
    width: 53px;
    height: 18px;
    align-items: center;
}

.share_img {
    width: 15px;
    height: 15px;
    background: url('../../components/share.svg');
    background-color: #F8F8F8;
    background-position: center;
    background-repeat: no-repeat;
}

.share p {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
    opacity: 0.6;
}

.title {
    display: flex;
    width: 1280px;
    height:70px;
    background-color: #F8F8F8;
    align-items: center;
}

.title h1 {
    margin: 0;
    padding: 0;
    width: 1280px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
}

.edit {
    display: flex;
    width: 1250px;
    justify-content: space-between;
    padding: 32px 15px;
}

.filter {
    display: flex;
    width: 95px;
    height: 32px;
    margin-left: 70px;
    align-items: center;
    justify-content: space-between;
}

.filter_img {
    background-image: url('../../components/filtr.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
}

.filter p {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    opacity: 0.6;
}

.veia {
    display: flex;
    width: 72px;
    height: 24px;
    align-items: center;
    justify-content: space-between;
}

.tabl {
    background-image: url('../../components/viue_tabl.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px; 
}

.plit {
    background-image: url('../../components/veiu_plit.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px; 
}

.categor {
    display: flex;
    width: 120px;
    height: 15px;
    align-items: center;
    margin-right: 70px;
    justify-content: space-between;
}

.categor p{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    opacity: 0.6;
}

.vector {
    background-image: url('../../components/Vector.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 14px;
    height: 14px;
}

.mid_1,
.mid_2,
.mid_3,
.mid_4,
.mid_5,
.mid_6,
.mid_7,
.mid_8 {
    display: flex;
    width: 255px;
    height: 318px;
}

.mid_1 {
    background-image: url('./img/men_1.jpg');
}
.mid_2 {
    background-image: url('./img/men_2.jpg');
}
.mid_3 {
    background-image: url('./img/men_3.jpg');
}
.mid_4 {
    background-image: url('./img/men_4.jpg');
}
.mid_5 {
    background-image: url('./img/men_5.jpg');
}
.mid_6 {
    background-image: url('./img/men_6.jpg');
}
.mid_7 {
    background-image: url('./img/men_7.jpg');
}
.mid_8 {
    background-image: url('./img/men_8.jpg');
}

.loading {
    display: flex;
    width: 231px;
    height: 50px;
    background-image: url('../../components/Loading.png');
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
}