.promise {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 96px 85px;
}

.new_collection {
    display: flex;
    width: 540px;
    height: 260px;
    background-image: url("./img/new_sesson.jpg");
    align-items: center;
    justify-content: center;
}

.coll_item {
    display: flex;
    width: 293px;
    height: 71px;
    background: #ffffff;
    border-radius: 4px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.coll_item p {
    width: 99px;
    height: 13px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    opacity: 0.6;
}

.coll_item span {
    width: 245px;
    height: 18px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
}

.sale {
    display: flex;
    width: 540px;
    height: 260px;
    background-image: url("./img/sale.jpg");
    align-items: center;
    justify-content: center;
}

.sale_item {
    display: flex;
    width: 241px;
    height: 71px;
    background: #ffffff;
    border-radius: 4px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.sale_item p {
    width: 36px;
    height: 13px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    opacity: 0.6;
}

.sale_item span {
    width: 193px;
    height: 18px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
}

@media (max-width: 992px) {
    .promise {
        margin: 64px 15px;
        width: 962px;
        gap: 25px;
    }
}

@media (min-width:381px) and (max-width: 576px) {
    .promise {
        display: flex;
        margin: 25px auto;
        width: auto;
        flex-direction: column;
        gap: 10px;
    }

    .new_collection,
    .sale{
        max-width: 100%;
        height: 210px;
        background-position: center;
        background-size: cover;
    }

    .coll_item{
        width: calc(65% + 90px/2);
    }

    .sale_item {
        width: calc(50% + 90px/2);
    }
}

@media (max-width: 380px) {
    .promise {
        display: flex;
        margin: 25px auto;
        width: 360px;
        flex-direction: column;
        gap: 10px;
    }

    .new_collection,
    .sale{
        width: 330px;
        height: 210px;
        background-position: center;
        background-size: cover;
    }

    .coll_item{
        width: calc(65% + 90px/2);
    }

    .sale_item {
        width: calc(50% + 90px/2);
    }
}