.product_header {
    display: flex;
    width: 1250px;
    height: 32px;
    background-color: #F8F8F8;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.road {
    display: flex;
    margin-left: 66px;
}

.road p {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
    opacity: 0.6;
}

.ul {
    background-image: url('../../components/nav.svg');
    width: 9px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 6px;
}

.road span {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
}

.share {
    display: flex;
    gap: 8px;
    width: 53px;
    height: 18px;
    align-items: center;
    margin-right: 66px;
}

.share_img {
    width: 15px;
    height: 15px;
    background: #F8F8F8 url('../../components/share.svg') no-repeat center;
}

.share p {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
    opacity: 0.6;
}

.title {
    display: flex;
    width: 1280px;
    height: 70px;
    background-color: #F8F8F8;
    align-items: center;
}

.title h1{
    margin: 0;
    padding: 0;
    width: 1280px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
}

.rate {
    display: flex;
    width: 1250px;
    height: 18px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #F8F8F8;
}

.reviews {
    display: flex;
    margin-left: 66px;
    align-items: baseline;
}

.reviews p {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
    opacity: 0.6;
}

.rate_rate {
    display: flex;
    width: 200px;
    height: 18px;
    align-items: center;
    margin-right: 66px;
    justify-content: space-between;
}

.sku {
    display: flex;
    gap: 2px;
    align-items: center;
}

.sku p {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
    opacity: 0.6;
}

.sku span {
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
}

.availability {
    display: flex;
    gap: 2px;
    align-items: center;
}

.availability p {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
    opacity: 0.6;
}

.availability span {
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
}

.content {
    display: flex;
    width: 1095px;
    margin: 32px 85px 0 85px;
}

.content_img {
    display: flex;
}

.content_row {
    display: flex;
    flex-direction: column;
    height: 560px;
    margin-right: 15px;
    gap: 20px;
}

.btn {
    display: flex;
    position: relative;
    width: 94px;
    gap: 14px;
}

.btn_up {
    display: flex !important;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    background-image: url("../../components/Hero/img/chevron-right.svg");
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    border-radius: 50%;
    z-index: 1;
    pointer-events: auto !important;
    transition: opacity 0.3s ease;
}

.btn_up:hover,
.btn_down:hover,
.btn_right:hover,
.btn_left:hover{
    background-color: #F8F8F8;
}

.btn_down {
    display: flex !important;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    background-image: url("../../components/Hero/img/chevron-right.svg");
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    border-radius: 50%;
    z-index: 1;
    pointer-events: auto !important;
    transition: opacity 0.3s ease;
}

.slider {
    display: flex;
    height: 504px;
    width: 94px;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
    margin-right: 16px;
}

.slider img{
    width: 94px;
}

.slider-top {
    display: flex;
    flex-direction: column;
    overflow: hidden !important;
}

.slider-top .swiper-slide {
    opacity: 0.5;
}

.slider-top .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide {
    height: 113px;
}

.choise {
    display: flex;
    position: relative;
    width: 448px;
    height: 560px;
}

.btn_left {
    display: flex;
    position: absolute;
    height: 40px;
    width: 40px;
    top: calc(50% - 40px / 2);
    left: calc(8% - 40px / 2);
    background-color: #ffffff;
    background-image: url("../../components/Hero/img/chevron-right.svg");
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    border-radius: 50%;
    z-index: 1;
}

.btn_right {
    display: flex;
    position: absolute;
    height: 40px;
    width: 40px;
    top: calc(50% - 40px / 2);
    left: calc(92% - 40px / 2);
    background-color: #ffffff;
    background-image: url("../../components/Hero/img/chevron-right.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 1;
}

.btn_up.swiper-button-disabled,
.btn_down.swiper-button-disabled,
.btn_right.swiper-button-disabled,
.btn_left.swiper-button-disabled{
    opacity: 0.35;
}

button.selected {
    border: 2px solid #000;
    background-color: #f0f0f0;
}

.content_info {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.color {
    display: flex;
    width: 89px;
    height: 18px;
    gap: 10px;
    margin-bottom: 10px;
}

.color_img {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}

.color_img button{
    background:none;
    cursor: pointer;
    padding: 0;
    border: 2px solid white;
}

.color_img button img {
    width: 62px;
    height: 62px;
}

.color_img button.selected {
    border: 2px solid black;
}

.size {
    display: flex;
    height: 18px;
    margin-bottom: 10px;
    gap: 10px;
}

.size_info {
    display: flex;
    width: fit-content;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0;
    margin-bottom: 10px;
    gap: 10px;
}

.size_info button {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    padding: 0;
    background:#F8F8F8;
}

.size_info button p {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    color: #121212;
    opacity: 0.7;
}

.size_info button.selected {
    border: 2px solid black;
    background-color: white;
}

.size_guide {
    display: flex;
    width: 97px;
    height: 24px;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.size_img {
    background-image: url('../../components/vesalka.svg');
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
}

.size_guide p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #121212;
    opacity: 0.6;
}

.line {
    width: 100%;
}

.price {
    margin: 32px 0;
    display: flex;
    align-items: center;
}

.price p {
    margin: 6px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
    text-transform: uppercase;
    color: #121212;
}

.price button {
    box-sizing: border-box;
    width: 156px;
    height: 48px;
    left: 804px;
    top: 533px;
    background: #121212;
    border: 2px solid #121212;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.9;
    transition: 0.5s;
    margin: 0 16px 0 24px;
}

.price button:hover {
    border: 1px solid #E6E6E6;
    background: #E6E6E6;
    color: #121212;
    opacity: 0.9;
    transition: 0.5s;
}

.heart_1 {
    display: flex;
    width: 48px;
    height: 48px;
    background-image: url("../../components/like.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.heart_1:hover,
.heart_1:active{
    background-image: url("../../components/like_active.svg");
}

.scale_1 {
    display: flex;
    margin-left: 16px;
    width: 48px;
    height: 48px;
    background-image: url("../../components/vesy.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.scale_1:hover,
.scale_1:active{
    background-image: url("../../components/vesy_active.svg");
}

.ship {
    margin: 37px 0 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shipping_prod {
    display: flex;
    width: 155px;
    height: 18px;
    align-items: center;
    gap: 9px
}

.shipping_prod p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* dark */

    color: #121212;

    opacity: 0.6;
}

.shipping_prod_img {
    width: 20px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../pages/Product/img/truck_prod.svg");
    opacity: 0.6;
}

.returns_prod {
    display: flex;
    width: 155px;
    height: 18px;
    align-items: center;
    gap: 9px
}

.returns_prod p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* dark */

    color: #121212;

    opacity: 0.6;
}

.returns_prod_img {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../pages/Product/img/return_prod.svg");
    opacity: 0.6;
}

.ask_prod {
    display: flex;
    width: 155px;
    height: 18px;
    align-items: center;
    gap: 9px
}

.ask_prod p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* dark */

    color: #121212;

    opacity: 0.6;
}

.ask_prod_img {
    width: 20px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../pages/Product/img/ask_prod.svg");
    opacity: 0.6;
}

.safe {
    display: flex;
    width: 224px;
    height: 18px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    letter-spacing: 0.06em;
    text-transform: uppercase;

    /* dark */

    color: #121212;
}


.pay {
    display: flex;
    margin: 32px 0 32px 0;
    width: 522px;
    height: 22px;
    justify-content: space-between;
}

.pay_1 {
    width: 59px;
    background-image: url("../Product/img/pay_sprite.svg");
}

.pay_2 {
    width: 42px;
    background-image: url("../Product/img/pay_aes.svg");

}

.pay_3 {
    width: 83px;
    background-image: url("../Product/img/pay_pal.svg");
}

.pay_4 {
    width: 71px;
    background-image: url("../Product/img/pay_visa.svg");
}

.pay_5 {
    width: 37px;
    background-image: url("../Product/img/pay_master.svg");
}

.pay_6 {
    width: 68px;
    background-image: url("../Product/img/pay_discover.svg");
}

.pay_7 {
    width: 64px;
    background-image: url("../Product/img/pay_american.svg");
}

.description {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 32px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    letter-spacing: 0.06em;
    text-transform: uppercase;

    /* dark */

    color: #121212;

    opacity: 0.6;
}

.add_inf {
    display: flex;
    width: 522px;
    flex-direction: column;
    justify-items: left;
    margin-bottom: 20px;
}

.add_inf_text {
    display: flex;
    margin: 32px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    letter-spacing: 0.06em;
    text-transform: uppercase;

    /* dark */

    color: #121212;
}

.add_inf_color {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    flex-direction: row;
    display: flex;
    margin-bottom: 12px;
    gap: 4px;
    /* dark */

    color: #121212;
}

.add_inf_color p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    /* dark */

    color: #121212;

    opacity: 0.6;
}

.reviews_section {
    display: flex;
    width: 522px;
    margin: 32px 0;
    flex-direction: column;
    justify-items: left;
}

.reviews_section_title {
    display: flex;
    margin-bottom: 34px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    letter-spacing: 0.06em;
    text-transform: uppercase;

    /* dark */

    color: #121212;
}

.reviews_header{
    display: flex;
    justify-content: space-between;
}

.reviews_header_reviews {
    width: 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    /* identical to box height, or 164% */

    /* dark */

    color: #121212;

    opacity: 0.6;
}

.reviews_header_write{
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    align-items: center;

    /* dark */

    color: #121212;

    opacity: 0.6;
}

.reviews_list {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.reviews_list p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */

    /* dark */

    color: #121212;

    opacity: 0.8;
}

.review_header {
    margin: 26px 0 12px 0;
    display: flex;
    justify-content: space-between;
}

.review_header h5{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    display: flex;
    align-items: center;

    /* dark */

    color: #121212;
}

.related {
    display: flex;
    width: 1110px;
    height: 459px;
    flex-direction: column;
    margin-top: 96px;
    padding-left: 96px;
}

.related_status {
    display: flex;
    margin-bottom: 48px;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 1110px;
}

.related_status p {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    /* dark */

    color: #121212;
}

.related_status_btn {
    width: 96px;
    height: 40px;
    display: flex;
    align-content: center;
    gap: 16px;
}

.related_left {
    display: flex;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    background-image: url("../../components/Hero/img/chevron-left.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.related_right {
    display: flex;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    background-image: url("../../components/Hero/img/chevron-right.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.related_left:hover,
.related_right:hover {
    background-color: #F8F8F8;
}

.related_img .swiper-slide{
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
}

.related_img_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



@media (max-width: 992px) {
    .product_header {
        width: 962px;
    }

    .rate {
        width: 962px;
    }

    .reviews {
        margin-left: 0;
    }

    .rate_rate {
        margin-right: 0;
        justify-content: flex-end;
        gap: 10px;
    }

    .content {
        width: 962px;
        margin: 15px 0 0 0;
        padding: 0 15px;
        flex-direction: column;
    }

    .content_img {
        justify-content: center;
        background-color: #eaeaeae3;
    }

    .choise {
        width: 962px;
        background-size: contain;
        background-repeat: no-repeat;
        height: 560px;
    }

    .btn_right {
        left: calc(92% - 40px / 2);
    }

    .content_row {
        display: none;
    }

    .content_info {
        padding: 0;
        margin-top: 20px;
        width: 962px;
    }

    .color_img {
        width: 330px;
        justify-content: space-between;
    }

    .line {
        width: 962px;
    }

    .title {
        width: auto;
    }

    .shipping_prod_img {
        width: 30px;
    }

    .pay {
        width: 962px;
        height: 22px;
        justify-content: center;
        gap: 25px;
        flex-wrap: wrap;
    }

    .add_inf {
        width: 962px;
    }

    .reviews_section {
        width: 962px;
    }

    .related {
        width: 962px;
        margin: 15px;
        padding: 0;
    }

    .related_status {
        width: 962px;
        margin-bottom: 15px;
    }

    .related_status p {
        font-size: 18px;
    }

    .related_img .swiper-slide{
        width: auto;
        height: auto;
        justify-content: center;
    }
}

@media (min-width:381px) and (max-width: 576px) {
    .product_header {
        width: auto;
    }

    .rate {
        width: auto;
    }

    .reviews {
        margin-left: 0;
    }

    .rate_rate {
        margin-right: 0;
        justify-content: flex-end;
        gap: 10px;
    }

    .content {
        width: 345px;
        margin: 15px 0 0 0;
        padding: 0 15px;
        flex-direction: column;
    }

    .content_img {
        justify-content: center;
        background-color: #eaeaeae3;
    }

    .choise {
        max-width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        height: 412px;
    }

    .choise img {
        width: 330px;
        height: 412px;
    }

    .btn_right {
        left: calc(92% - 40px / 2);
    }

    .content {
        width: auto;
    }

    .content_row {
        display: none;
    }

    .content_info {
        padding: 0;
        width: auto;
        margin-top: 20px;
    }

    .color_img {
        width: auto;
        justify-content: space-between;
    }

    .line {
        width: auto;
    }

    .title {
        width: auto;
    }

    .shipping_prod_img {
        width: 30px;
    }

    .pay {
        width: auto;
        height: 54px;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .price {
        justify-content: space-between;
    }

    .price button {
    width: 132px;
        margin:0 0 0 24px;
    }

    .add_inf {
        width: auto;
    }

    .reviews {
        display: flex;
        flex-direction: column;
    }

    .reviews_section {
        width: auto;
    }

    .related {
        width: auto;
        margin: 15px;
        padding: 0;
    }

    .related_status {
        width: auto;
        margin-bottom: 15px;
    }

    .related_status p {
        font-size: 18px;
    }

    .related_img .swiper-slide{
        width: auto;
        height: auto;
        justify-content: center;
    }

    .scale_1 {
        margin: 0;
    }

}

@media (max-width: 380px) {
    .product_header {
        width: 345px;
    }

    .rate {
        width: 345px;
    }

    .reviews {
        margin-left: 0;
    }

    .rate_rate {
        margin-right: 0;
        justify-content: flex-end;
        gap: 10px;
    }

    .content {
        width: auto;
        margin: 15px 0 0 0;
        padding: 0 15px;
        flex-direction: column;
    }

    .choise {
        width: 330px;
        background-size: contain;
        background-repeat: no-repeat;
        height: 412px;
    }

    .choise img {
        width: 330px;
        height: 412px;
    }

    .btn_right {
        left: calc(92% - 40px / 2);
    }

    .content {
        width: 345px;
    }

    .content_row {
        display: none;
    }

    .content_info {
        padding: 0;
        width: 345px;
        margin-top: 20px;
    }

    .color_img {
        width: 330px;
        justify-content: space-between;
    }

    .line {
        width: 330px !important;
    }

    .title {
        width: 375px;
    }

    .shipping_prod_img {
        width: 30px;
    }

    .pay {
        width: 330px;
        height: 54px;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .price {
        justify-content: space-between;
    }

    .price button {
        width: 132px;
        margin:0 0 0 24px;
    }

    .add_inf {
        width: 330px;
    }

    .reviews {
        display: flex;
        flex-direction: column;
    }

    .reviews_section {
        width: 330px;
    }

    .related {
        width: 345px;
        margin: 15px;
        padding: 0;
    }

    .related_status {
        width: 345px;
        margin-bottom: 15px;
    }

    .related_status p {
        font-size: 18px;
    }

    .related_img .swiper-slide{
        width: auto;
        height: auto;
        justify-content: center;
    }

    .scale_1 {
        margin: 0;
    }

}