
.product_header {
    display: flex;
    width: 1250px;
    height: 32px;
    background-color: #F8F8F8;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.road {
    display: flex;
    margin-left: 66px;
}

.road p {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
    opacity: 0.6;
}

.ul {
    background-image: url('../../components/nav.svg');
    width: 9px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 6px;
}

.road span {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
}

.share {
    display: flex;
    gap: 8px;
    width: 53px;
    height: 18px;
    align-items: center;
    margin-right: 66px;
}

.share_img {
    width: 15px;
    height: 15px;
    background: #F8F8F8 url('../../components/share.svg') no-repeat center;
}

.share p {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
    opacity: 0.6;
}

.title {
    display: flex;
    width: 1280px;
    height: 70px;
    background-color: #F8F8F8;
    align-items: center;
}

.title h1{
    margin: 0;
    padding: 0;
    width: 1280px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
}

.rate_info {
    display: flex;
    width: 1250px;
    height: 18px;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-color: #F8F8F8;
}

.reviews {
    display: flex;
    margin-left: 66px;
}

.star {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
    margin-right: 6px;
}

.stars_i {
    display: flex;
    width: 14px;
    height: 14px;
    background-image: url('../Product/img/stars.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.reviews p {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
    opacity: 0.6;
}

.sa {
    display: flex;
    width: 200px;
    height: 18px;
    align-items: center;
    margin-right: 66px;
    justify-content: space-between;
}

.sku {
    display: flex;
    gap: 2px;
    align-items: center;
}

.sku p {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
    opacity: 0.6;
}

.sku span {
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
}

.availability {
    display: flex;
    gap: 2px;
    align-items: center;
}

.availability p {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
    opacity: 0.6;
}

.availability span {
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
}

.content {
    display: flex;
    width: 1095px;
    margin: 32px 85px 0 85px;
}

.content_img {
    display: flex;
}

.btn {
    display: flex;
    width: 94px;
    gap: 14px;
}

.but_up {
    display: flex;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    background-image: url("../../components/Hero/img/chevron-right.svg");
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    border-radius: 50%;
}

.but_up:hover {
    background-color: #F8F8F8;
}

.but_down:hover {
    background-color: #F8F8F8;
}

.btn_left:hover {
    background-color: #F8F8F8;
}

.btn_right:hover {
    background-color: #F8F8F8;
}

.but_down {
    display: flex;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    background-image: url("../../components/Hero/img/chevron-right.svg");
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    border-radius: 50%;
}

.slider {
    display: flex;
    height: 504px;
    width: 94px;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
    margin-right: 16px;
}

.slider_1 {
    display: flex;
    width: 94px;
    height: 114px;
    background-image: url('./img/smol_1.png');
}

.slider_2 {
    display: flex;
    width: 94px;
    height: 114px;
    background-image: url('./img/smol_2.png');
}

.slider_3 {
    display: flex;
    width: 94px;
    height: 114px;
    background-image: url('./img/smol_3.png');
}

.slider_4 {
    display: flex;
    width: 94px;
    height: 114px;
    background-image: url('./img/smol_4.png');
}

.choise {
    display: flex;
    width: 448px;
    height: 560px;
    background-image: url('./img/item_1.png');
}

.btn_left {
    display: flex;
    position: relative;
    height: 40px;
    width: 40px;
    top: calc(50% - 40px / 2);
    left: calc(8% - 40px / 2);
    background-color: #ffffff;
    background-image: url("../../components/Hero/img/chevron-right.svg");
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    border-radius: 50%;
}

.btn_right {
    display: flex;
    position: relative;
    height: 40px;
    width: 40px;
    top: calc(50% - 40px / 2);
    left: calc(84% - 40px / 2);
    background-color: #ffffff;
    background-image: url("../../components/Hero/img/chevron-right.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.content_info {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.color {
    display: flex;
    width: 89px;
    height: 18px;
    margin-bottom: 10px;
}

.color_img {
    display: flex;
    margin-bottom: 10px;
    width: 304px;
    height: 66px;
    gap: 16px;
}

.color_1 {
    background-image: url('../Product/img/blue.svg');
    width: 64px;
    height: 64px;
}

.color_2 {
    background-image: url('../Product/img/white.svg');
    width: 64px;
    height: 64px;
}

.color_3 {
    background-image: url('../Product/img/black.svg');
    width: 64px;
    height: 64px;
}

.color_4 {
    background-image: url('../Product/img/gray.svg');
    width: 64px;
    height: 64px;
}

.color_1:hover,
.color_1:active,
.color_2:hover,
.color_2:active,
.color_3:hover,
.color_3:active,
.color_4:hover,
.color_4:active {
    box-sizing: border-box;
    border: 2px solid black;
}

.size {
    display: flex;
    width: 89px;
    height: 18px;
    margin-bottom: 10px;
}

.size_info {
    display: flex;
    width: 208px;
    height: 40px;
    gap: 16px;
}

.xs {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #F8F8F8;
    align-items: center;
    justify-content: center;
}

.xs p {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    color: #121212;
    opacity: 0.7;
}

.s {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #F8F8F8;
    align-items: center;
    justify-content: center;
}

.s p {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    color: #121212;
}

.m {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #F8F8F8;
    align-items: center;
    justify-content: center;
}

.m p {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    color: #121212;
    opacity: 0.7;
}

.l {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #F8F8F8;
    align-items: center;
    justify-content: center;
}

.l p {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    color: #121212;
    opacity: 0.7;
}

.xs:hover,
.xs:active,
.s:hover,
.s:active,
.m:hover,
.m:active,
.l:hover,
.l:active {
    box-sizing: border-box;
    border: 2px solid #121212;
}

.size_guide {
    display: flex;
    width: 97px;
    height: 24px;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.size_img {
    background-image: url('../../components/vesalka.svg');
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
}

.size_guide p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #121212;
    opacity: 0.6;
}

.line {
    width: 100%;
}

.price {
    margin: 32px 0;
    display: flex;
    align-items: center;
}

.price p {
    margin: 6px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
    text-transform: uppercase;
    color: #121212;
}

.price button {
    box-sizing: border-box;
    width: 156px;
    height: 48px;
    left: 804px;
    top: 533px;
    background: #121212;
    border: 2px solid #121212;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.9;
    transition: 0.5s;
    margin: 0 16px 0 24px;
}

.price button:hover {
    border: 1px solid #E6E6E6;
    background: #E6E6E6;
    color: #121212;
    opacity: 0.9;
    transition: 0.5s;
}

.heart_1 {
    display: flex;
    width: 48px;
    height: 48px;
    background-image: url("../../components/like.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.scale_1 {
    display: flex;
    margin-left: 16px;
    width: 48px;
    height: 48px;
    background-image: url("../../components/vesy.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.ship {
    margin: 37px 0 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shipping_prod {
    display: flex;
    width: 155px;
    height: 18px;
    align-items: center;
    gap: 9px
}

.shipping_prod p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* dark */

    color: #121212;

    opacity: 0.6;
}

.shipping_prod_img {
    width: 20px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../pages/Product/img/truck_prod.svg");
    opacity: 0.6;
}

.returns_prod {
    display: flex;
    width: 155px;
    height: 18px;
    align-items: center;
    gap: 9px
}

.returns_prod p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* dark */

    color: #121212;

    opacity: 0.6;
}

.returns_prod_img {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../pages/Product/img/return_prod.svg");
    opacity: 0.6;
}

.ask_prod {
    display: flex;
    width: 155px;
    height: 18px;
    align-items: center;
    gap: 9px
}

.ask_prod p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* dark */

    color: #121212;

    opacity: 0.6;
}

.ask_prod_img {
    width: 20px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../pages/Product/img/ask_prod.svg");
    opacity: 0.6;
}

.safe {
    display: flex;
    width: 224px;
    height: 18px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    letter-spacing: 0.06em;
    text-transform: uppercase;

    /* dark */

    color: #121212;
}


.pay {
    display: flex;
    margin: 32px 0 32px 0;
    width: 522px;
    height: 22px;
    justify-content: space-between;
}

.pay_1 {
    width: 59px;
    background-image: url("../Product/img/pay_sprite.svg");
}

.pay_2 {
    width: 42px;
    background-image: url("../Product/img/pay_aes.svg");

}

.pay_3 {
    width: 83px;
    background-image: url("../Product/img/pay_pal.svg");
}

.pay_4 {
    width: 71px;
    background-image: url("../Product/img/pay_visa.svg");
}

.pay_5 {
    width: 37px;
    background-image: url("../Product/img/pay_master.svg");
}

.pay_6 {
    width: 68px;
    background-image: url("../Product/img/pay_discover.svg");
}

.pay_7 {
    width: 64px;
    background-image: url("../Product/img/pay_american.svg");
}

.description {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 32px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    letter-spacing: 0.06em;
    text-transform: uppercase;

    /* dark */

    color: #121212;

    opacity: 0.6;
}

.add_inf {
    display: flex;
    width: 522px;
    flex-direction: column;
    justify-items: left;
    margin-bottom: 20px;
}

.add_inf_text {
    display: flex;
    margin: 32px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    letter-spacing: 0.06em;
    text-transform: uppercase;

    /* dark */

    color: #121212;
}

.add_inf_color {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    flex-direction: row;
    display: flex;
    margin-bottom: 12px;
    gap: 4px;
    /* dark */

    color: #121212;
}

.add_inf_color p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    /* dark */

    color: #121212;

    opacity: 0.6;
}

.reviews_d {
    display: flex;
    width: 522px;
    margin: 32px 0;
    flex-direction: column;
    justify-items: left;
}

.reviews_d_title {
    display: flex;
    margin-bottom: 34px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    letter-spacing: 0.06em;
    text-transform: uppercase;

    /* dark */

    color: #121212;
}

.reviews_d_status {
    display: flex;
    justify-content: space-between;
}

.reviews_d_status_info p {
    width: 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    /* identical to box height, or 164% */


    /* dark */

    color: #121212;

    opacity: 0.6;
}

.reviews_d_status_write {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    align-items: center;

    /* dark */

    color: #121212;

    opacity: 0.6;
}

.reviews_d_feedback {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.reviews_d_feedback p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */


    /* dark */

    color: #121212;

    opacity: 0.8;
}

.reviews_d_feedback_info {
    margin: 26px 0 12px 0;
    display: flex;
    justify-content: space-between;
}

.reviews_d_feedback_info h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    display: flex;
    align-items: center;

    /* dark */

    color: #121212;
}

.related {
    display: flex;
    width: 1110px;
    height: 459px;
    flex-direction: column;
    margin-top: 96px;
    padding-left: 96px;
}

.related_status {
    display: flex;
    margin-bottom: 48px;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 1110px;
}

.related_status p {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    /* dark */

    color: #121212;
}

.related_status_btn {
    width: 96px;
    height: 40px;
    display: flex;
    align-content: center;
    gap: 16px;
}

.related_left {
    display: flex;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    background-image: url("../../components/Hero/img/chevron-left.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.related_right {
    display: flex;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    background-image: url("../../components/Hero/img/chevron-right.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.related_left:hover,
.related_right:hover {
    background-color: #F8F8F8;
}

.related_img {
    display: flex;
    height: 255px;
    width: 1110px;
}

@media (max-width: 360px) {
    .product_header {
        width: 330px;
    }

    .rate_info {
        width: 330px;
    }

    .reviews {
        margin-left: 0;
    }

    .sa {
        margin-right: 0;
        justify-content: flex-end;
        gap: 10px;
    }

    .content {
        width: 360px;
        margin: 15px 0 0 0;
        padding: 0 15px;
        flex-direction: column;
    }

    .choise {
        width: 330px;
        background-size: contain;
        background-repeat: no-repeat;
        height: 420px;
    }

    .btn_right {
        left: calc(79% - 40px / 2);
    }

    .content {
        width: 330px;
    }

    .content_row {
        display: none;
    }

    .content_info {
        padding: 0;
        width: 330px;
    }

    .color_img {
        width: 330px;
        justify-content: space-between;
    }

    .line {
        width: 330px !important;
    }

    .shipping_prod_img {
        width: 30px;
    }

    .pay {
        width: 330px;
        height: 54px;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .add_inf {
        width: 330px;
    }

    .reviews_d {
        width: 330px;
    }

    .related {
        width: 330px;
        margin: 15px;
        padding: 0;
    }

    .related_status {
        width: 330px;
        margin-bottom: 15px;
    }

    .related_status p {
        font-size: 18px;
    }

    .related_img {
        width: 330px;
        justify-content: center;
    }

    .id2,
    .id3,
    .id4 {
        display: none;
    }
}