.container {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 120px;
}

.container img {
    width: 580px;
    height: 320px;
    margin-top: 10px;
    box-sizing: border-box;
}

.contacts {
    display: flex;
    align-items: flex-start;
    width: 255px;
    height: 157px;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 20px;
}

.contacts p {
    padding-left: 26px;
}

.loc {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    width: 225px;
    height: 18px;
    background-image: url("../../components/location_f.svg");
    background-position: left;
    background-repeat: no-repeat;
}

.num {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    width: 225px;
    height: 18px;
    background-image: url("../../components/phone_f.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.times {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    width: 225px;
    height: 18px;
    background-image: url("../../components/clock_f.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.mail {
    display: flex;
    align-items: center;
    width: 225px;
    height: 18px;
    background-image: url("../../components/mail_f.svg");
    background-position: left;
    background-repeat: no-repeat;
}