@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header_container {
    width: 1280px;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_bar {
    display: flex;
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    width: 1280px;
}

.phone p,
.time p {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    color: white;
    opacity: 0.8;
}


.location p {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.03em;
    color: white;
    opacity: 0.8;
}

.info {
    display: flex;
    margin-left: 66px;
}

.phone,
.location,
.time {
    height: max-content;
    margin: auto 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.phone img,
.location img,
.time img {
    margin-right: 10px;
}

.social {
    display: flex;
    justify-content: space-between;
    height: 14px;
    width: 86px;
    margin-right: 81px;
}

.social img {
    display: flex;
    margin: 0;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 66px;
    width: 1280px;
    overflow: hidden;
}

.logo {
    text-align: left;
}

h1 {
    margin-left: 81px;
    padding: 0;
    font-family: Playfair Display SC;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
}

.nav-item {
    height: 16px;
    width: 585px;
}

.nav-item li {
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
}

.nav-item a {
    text-decoration: none;
    color: #121212;
}

.instryment {
    display: flex;
    justify-content: space-between;
    gap: 27px;
    margin-right: 81px;
}

.instryment a {
    height: 24px;
}

.instryment img {
    margin: 0;
}

.line {
    width: 1280px;
    height: 2px;
    background-color: #F8F8F8;
}

/* Знчек корзины */

.cart_icon {
    position: relative;
    cursor: pointer;
}

.cart_count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* Модальное окно */

.cart_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out;
}

.cart_modal_content {
    background-color: white;
    width: 388px;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.cart_modal_content h3 {
    margin: 20px;
}

@media (max-width: 992px) {
    .header_container {
        width: 992px;
        margin: 0 auto;
    }

    .top_bar {
        width: 992px;
        height: auto;
    }

    .nav {
        width: 992px;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 85%;
        top: 80px;
        left: 0;
        flex-direction: column;
        align-items: baseline;
        padding-left: 30px;
        justify-content: space-around;
        z-index: 2;
        background-color: aliceblue;
        opacity: 0.8;
        transform: translateX(-100%);
        transition: 0.5s all;
    }


    ul.active {
        transform: translateX(0);
        transition: 0.5s all;
    }

    nav {
        height: 20px;
        width: 20px;
        background-color: white;
        z-index: 50;
        display: flex;
        align-items: center;
    }

    .burger_btn {
        width: 20px;
        height: 20px;
        position: relative;
        cursor: pointer;
    }

    .toggle {
        width: 20px;
        height: 20px;
        position: relative;
        cursor: pointer;
    }

    .burger_btn:before {
        content: '';
        position: absolute;
        top: 1px;
        left: 0;
        width: 20px;
        background-color: black;
        height: 1px;
        transition: 0.5s all;
    }

    .burger_btn span {
        position: absolute;
        top: 9px;
        left: 0;
        width: 20px;
        background-color: black;
        height: 1px;
        transition: 0.25s all;
    }

    span.active {
        visibility: hidden;
        transition: 0.5s all;
    }

    .burger_btn:after {
        content: '';
        position: absolute;
        bottom: 1px;
        left: 0;
        width: 20px;
        background-color: black;
        height: 1px;
        transition: 0.5s all;
    }

    .toggle:after {
        content: '';
        position: absolute;
        left: 0;
        width: 20px;
        background-color: black;
        height: 1px;
        transform: rotate(-45deg);
        bottom: 9px;
        transition: 0.5s all;
    }

    .toggle:before {
        content: '';
        position: absolute;
        left: 0;
        width: 20px;
        background-color: black;
        height: 1px;
        transform: rotate(45deg);
        top: 9px;
        transition: 0.5s all;
    }

    .instryment {
        margin-right: 70px;
        align-items: center;
    }

}

@media (max-width: 360px) {

    .header_container {
        width: 360px;
        margin: 0 auto;
    }

    .top_bar {
        display: flex;
        width: 360px;
        height: auto;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-left: 0;
    }

    .phone {
        margin-top: 5px;
        justify-content: normal;
    }

    .time {
        justify-content: normal;
        margin-bottom: 5px;
    }

    .social {
        margin-right: 20px;
    }

    .nav {
        display: flex;
        width: 360px;

    }

    ul {
        top: 120px;
        height: 55.5vh;
    }

    .logo {
        width: 150px;
        margin-left: 15px;
    }

    h1 {
        font-size: 20px;
        margin-left: 0;
    }

    .instryment {
        display: flex;
        gap: 10px;
        margin-right: 15px;
        justify-items: center;
    }

    .instryment a,
    .instryment img {
        height: 20px;
        width: 20px;
    }

    .line {
        width: 360px;
    }


}