.header_container {
    width: 1280px;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_bar {
    display: flex;
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    width: 1280px;
}

.phone p,
.time p {
font-family: inherit;
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 12px;
color: white;
opacity: 0.8;
}


.location p {
font-family: inherit;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 13px;
letter-spacing: 0.03em;
color: white;
opacity: 0.8;
}

.info {
    display: flex;
    margin-left: 66px;
}

.phone, 
.location,
.time {
    height: max-content;
    margin: auto 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.phone img, 
.location img,
.time img {
    margin-right: 10px;
}

.social {
    display: flex;
    justify-content: space-between;
    height: 14px;
    width: 86px;
    margin-right: 81px;
}

.social img {
    display: flex;
    margin: 0;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 66px;
    width: 1280px;
}

.logo {
    text-align: left;
}

h1 {
    margin-left: 81px;
    padding: 0;
    font-family: Playfair Display SC;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
}

.nav-item {
    height: 16px;
    width: 585px;
}

.nav-item li {
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
}

.nav-item a {
    text-decoration: none;
    color: #121212;
}

.instryment {
    display: flex;
    justify-content: space-between;
    gap: 27px;
    margin-right: 81px;
}

.instryment a {
    height: 24px;
}

.instryment img {
    margin: 0;
}

.line {
    width: 1280px;
    height: 2px;
    background-color: #F8F8F8;
}

@media (max-width: 992px) {
    .header_container {
      width: 992px;
        margin: 0 auto;
    }

    .top_bar {
        width: 992px;
        height: auto;
    }

    .nav {
        width: 992px;
    }

    .nav-item {
        display: none;
    }
    
}

@media (max-width: 360px) {

    .header_container {
        width: 360px;
        margin: 0 auto;
    }

    .top_bar{
        display: flex;
        width: 360px;
        height: auto;
    }
    .info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-left: 0;
    }

    .phone {
        margin-top: 5px;
        justify-content: normal;
    }

    .time {
        justify-content: normal;
        margin-bottom: 5px;
    }

    .social {
        margin-right: 20px;
    }

    .nav {
        display: flex;
        width: 360px;
    }
    .logo {
        width: 150px;
        margin-left: 15px;
    }

    h1 {
        font-size: 20px;
        margin-left: 0;
    }

    .instryment{
        display: flex;
        gap: 10px;
        margin-right: 15px;
        justify-items: center;
    }
    .instryment a,
    .instryment img {
        height: 20px;
        width: 20px;
    }

    .nav-item {
        display: none;
    }

   .line {
       width: 360px;
   }


}