.footer {
    display: flex;
    width: 1280px;
    flex-direction: column;
    padding-top: 66px;
}

.footer_top {
    display: flex;
    width: 1250px;
    height: 56px;
    margin-top: 96px;
    background-color: #121212;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.footer_top p{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 66px;
}

.join {
    display: flex;
    align-items: center;
}

.footer_top input {
    display: flex;
    width: 400px;
    height: 32px;
    background: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    margin-right: 12px;
    color: #FFFFFF;
    opacity: 0.4;
}

.footer_top button {
    display: flex;
    width: 108px;
    height: 32px;
    background-color: #121212;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.9;
}

.social_bot {
    display: flex;
    width: 108px;
    height: 18px;
    justify-content: space-between;
    margin-right: 66px;
} 

.f_1 {
    width: 18px;
    height: 18px;
    background-image: url("../../components/facebook_f.svg");
}

.f_2 {
    width: 18px;
    height: 18px;
    background-image: url("../../components/twitter_f.svg");
}

.f_3 {
    width: 18px;
    height: 18px;
    background-image: url("../../components/instagram_f.svg");
}

.f_4 {
    width: 18px;
    height: 18px;
    background-image: url("../../components/pinterest_f.svg");
}

.footer_main{
    display: flex;
    width: 1184px;
    height: 237px;
    padding: 0 15px;
    margin: 0 66px;
    align-items: center;
    gap: 30px;
    background: #FFFFFF;
}

.categories {
    display: flex;
    align-items: flex-start;
    width: 255px;
    height: 157px;
    flex-direction: column;
}

.categories h3 {
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
}

.categories a {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 34px;
    color: #121212;
    opacity: 0.8;
}

.categories p {
    padding-left: 26px;
}

.loc {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    width: 225px;
    height: 18px;
    background-image: url("../../components/location_f.svg");
    background-position: left;
    background-repeat: no-repeat;
}

.num {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    width: 225px;
    height: 18px;
    background-image: url("../../components/phone_f.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.times {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    width: 225px;
    height: 18px;
    background-image: url("../../components/clock_f.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.mail {
    display: flex;
    align-items: center;
    width: 225px;
    height: 18px;
    background-image: url("../../components/mail_f.svg");
    background-position: left;
    background-repeat: no-repeat;
}

.footer_bot {
    display: flex;
    width: 1250px;
    height: 40px;
    background-color: #f8f8f8;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.prava {
    display: flex;
    align-items: center;
    margin-left: 66px;
}

.prava p {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 22px;
    color: #121212;
    opacity: 0.8;
}

.spons {
    display: flex;
    width: 381px;
    height: 16px;
    justify-content: space-between;
}

.spons_1 {
    width: 43px;
    background-image: url("../../components/Stripe.svg");
}
.spons_2 {
    width: 31px;
    background-image: url("../../components/AES.svg");
}
.spons_3 {
    width: 61px;
    background-image: url("../../components/paypal.svg");
}
.spons_4 {
    width: 52px;
    background-image: url("../../components/visa.svg");
}
.spons_5 {
    width: 27px;
    background-image: url("../../components/mastercard.svg");
}
.spons_6 {
    width: 50px;
    background-image: url("../../components/discover.svg");
}
.spons_7 {
    width: 47px;
    background-image: url("../../components/american-express.svg");
}

.clever a {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 22px;
    text-align: right;
    text-decoration-line: underline;
    color: #121212;
    opacity: 0.8;
    margin-right: 66px;
}

@media (max-width: 992px) {
    .footer {
        width: 992px;
        padding-top: 0;
        margin: 0 auto;
    }

    .footer_top {
        width: 962px;
        margin-top: 25px;
    }

    .join {
        width: 500px;
    }

    .footer_top p,
    .social_bot{
        margin: 0;
    }

    .footer_main{
        width: 962px;
        margin: 0;
    }

    .footer_bot {
        width: 963px;
    }
}

@media (max-width: 360px) {
    .footer {
        width: 360px;
        padding-top: 20px;
        margin: 0 auto;
    }

    .footer_top {
        width: 330px;
        margin-top: 20px;
    }

    .footer_top p{
        margin: 0;
        width: 70px;
        font-size: 8px;
    }

    .join input {
        width: 60%;
        font-size: 8px;
    }

    .join button {
        width: 50%;
        font-size: 8px;
        margin-right: 10px;
    }
    .social_bot {
        margin-right: 0;
    }

    .footer_main {
        width: 330px;
        margin: 10px auto;
        flex-wrap: wrap;
        gap: 10px;
        height: auto;
    }

    .categories {
        height: auto;
        width: 160px;
    }

    .categories h3 {
        margin: 0;
    }

    .categories a{
        display: flex;
        align-items: center;
        height: 24px;
        width: auto;
    }

    .categories p {
        font-size: 11px;
    }

    .loc,
    .num,
    .times,
    .mail {
        margin-bottom: 6px;
        width: auto;
    }

    .footer_bot {
        width: 330px;
        margin: 0 auto;
    }
    .prava {
        margin: 0;
    }

    .spons {
        display: none;
    }
    .clever a{
        margin: 0;
    }
}