.blog_container {
    padding-top: 100px;
}

.container_item img{
    display: flex;
    position: relative;
    width: 350px;
    height: 276px;
    background-image: url("./../BlogSection/img/blog_1.jpg");
}