.blog_header {
    display: flex;
    width: 1180px;
    align-items: center;
    justify-content: space-between;
    margin: 96px 70px 48px 70px;
    padding: 0 15px;
}

.blog_header p {
    margin-right: 70px;
}

.blog_post {
    display: flex;
    justify-content: space-between;
    margin: 0 85px;
}

.box_1 {
    display: flex;
    position: relative;
    width: 350px;
    height: 276px;
    background-image: url('./img/blog_1.jpg');
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-end;
}


.box_2 {
    display: flex;
    position: relative;
    width: 350px;
    height: 276px;
    background-image: url('./img/blog_2.jpg');
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-end;
}


.box_3 {
    display: flex;
    position: relative;
    width: 350px;
    height: 276px;
    background-image: url('./img/blog_3.jpg');
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-end;
}

.box_info {
    display: flex;
    position: absolute;
    width: 302px;
    height: 174px;
    bottom: -43%;
    background-color: #FFFFFF;
    flex-direction: column;
    transition: 0.5s all;

}

.box_info:hover {
    bottom: -31%;
    height: 159px;
    transition: 0.5s all;
}

.box_info h3 {
    display: flex;
    width: 263px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    margin: 24px 51px 12px 16px;

}

.box_info p {
    width: 270px;
    height: 64px;
    font-size: 14px;
    line-height: 22px;
    color: #121212;
    opacity: 0.8;
    margin-left: 16px;
    margin-bottom: 30px;
    text-align: left;
}

.data {
    position: absolute;
    padding-top: 150px;
    height: 13px;
    opacity: 0;
    transition: 0.9s all;
}

.data:hover{
    opacity: 1;
}

.data p{
    height: 13px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.data span {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    text-align: right;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
}

@media (max-width: 992px) {
    .blog_header {
        width: 962px;
        margin-left: 0;
    }

    .blog_post {
        margin: 0 15px;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .box_1,
    .box_2,
    .box_3 {
        width: 450px;
        height: 355px;
        background-size: 450px;
    }

    .box_info {
        width: 350px;
        height: 160px;
        top: 150px;
        bottom: 0;
    }

    .box_info p {
        width: 320px;
        height: auto;
        margin-bottom: 10px;
    }

    .box_info:hover {
        bottom: 0;
        height: 160px;
    }

    .data  {
        padding-top: 120px;
        opacity: 1;
    }

    .data:hover {

    }

}

@media (min-width:381px) and (max-width: 576px) {
    .blog_header {
        max-width: 100% !important;
        width: auto;
        margin: 15px auto;
    }
    .blog_header p {
        margin-right: 0;
        font-size: 0.7em;
    }

    h2 {
        font-size: 0.7em;
    }

    .box_info h3 {
        margin: 15px 10px;
        width: 252px;
    }
    .box_info p {
        width: 252px;
        margin: 0 auto;
    }

    .blog_post {
        width: auto;
        margin: 0 auto;
        flex-direction: column;
        gap: 10px;
    }

    .box_1,
    .box_2,
    .box_3 {
        max-width: 100%;
        position: unset;
        justify-content: center;
        align-items: center;
        background-size: 450px;
    }

    .data {
        width: 271px;
        padding-top: 130px;
        opacity: 1;
        transition: none;
    }

    .data p {
        margin:0 10px;
        width: 252px;
    }

    .box_info {
        position: unset;
        margin-top: 60px;
        width: 272px;
        height: 159px;
        transition: none;
        opacity: 0.9;
    }
}

@media (max-width: 380px) {
    .blog_header {
        width: 330px;
        margin: 15px auto;
    }
    .blog_header p {
        margin-right: 0;
        font-size: 0.7em;
    }

    h2 {
        font-size: 0.7em;
    }

    .box_info h3 {
        margin: 15px 10px;
        width: 252px;
    }
    .box_info p {
        width: 252px;
        margin: 0 auto;
    }

    .blog_post {
        width: 360px;
        margin: 0 auto;
        flex-direction: column;
        gap: 10px;
    }

    .box_1,
    .box_2,
    .box_3 {
        width: 330px;
        position: unset;
        justify-content: center;
        align-items: center;
        background-size: 395px;
    }

    .data {
        width: 271px;
        padding-top: 130px;
        opacity: 1;
        transition: none;
    }

    .data p {
        margin:0 10px;
        width: 252px;
    }

    .box_info {
        position: unset;
        margin-top: 60px;
        width: 272px;
        height: 159px;
        transition: none;
        opacity: 0.9;
    }
}