body {
  width: 1280px;
  padding: 0;
  margin: auto;
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 992px) {
  body {
    margin: 0 auto;
    width: 992px;
    transition: 0.5s all;
  }
}

@media (max-width: 425px) {
  body {
    margin: 0 auto;
    width: 425px;
    transition: 0.5s all;
  }
}
