.paymentMethod {
    display: flex;
    width: 360px;
    flex-direction: column;
    gap: 10px;
    margin-left: 15px;
}

.paymentOption {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.paymentOption img {
    width: 80px;
    height: auto;

}

.cardDetails {
    margin-top: 15px;
}

.cardInput {
    width: 86%;
    padding: 10px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

.cardInfo {
    display: flex;
    width: 92%;
    gap: 10px;
    margin: 0 15px;
}

.smallInput {
    flex: 1;
    padding: 10px;
    width: inherit;
    border: 1px solid lightgray;
}

.emailInput {
    width: 85%;
    padding: 10px;
}