.paymentMethod {
    display: flex;
    width: 350px;
    flex-direction: c olumn;
    gap: 10px;
    margin-left: 15px;
}

.paymentOption {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
}

.paymentOption img {
    width: 80px;
    height: 40px;
}

.cardDetails {
    margin-top: 15px;
}

.cardInput {
    width: 86%;
    padding: 10px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

.cardInfo {
    display: flex;
    width: 86%;
    justify-content: space-between;
    gap: inherit;
    margin: 0 15px;
}

.cardInfo_style {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 50px;
    width: 100px;
}

.cardInfo_style span {
    position: absolute;
    right: -10px;
    top: 47%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

.smallInput {
    flex: 1;
    padding: 10px;
    width: 123px;
    border: 1px solid lightgray;
    box-sizing: border-box;
}

.emailInput {
    width: 85%;
    padding: 10px;
}
.inputError {
    border: 2px solid red;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

